

h1{
    margin: 0;
}

.full{
    background-color: #2A2A2A;
    color: white;

    display: flex;
    width: 100%;
    flex-direction: row;
    height: 5rem;
}

.half{
    display: flex;
    width: 50%;
    flex-direction: row;
    font-size: 26px;
    
}

.web{
    color: #FFF;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 120px;
align-self: center;
font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.chips{
    color: #FF7A00;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 10px;
font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;


}

.home{
    color: #FF7A00;
}

.a{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.b{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.buttons{

    padding-left: 2em;
    align-items: center;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

